In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [93]:
data=pd.read_csv('Housing_Prices.csv',index_col=0)
data.rename(columns={'X1 transaction date':'transaction data','X2 house age':'age',
                     'X3 distance to the nearest MRT station':'dist.MRT',
                    'X4 number of convenience stores':'conv.stores','X5 latitude':'latitude','X6 longitude':'longitude',
                     'Y house price of unit area':'price'},inplace=True)
data.head()

    transaction data   age   dist.MRT  conv.stores  latitude  longitude  price
No
1           2012.917  32.0   84.87882           10  24.98298  121.54024   37.9
2           2012.917  19.5  306.59470            9  24.98034  121.53951   42.2
3           2013.583  13.3  561.98450            5  24.98746  121.54391   47.3
4           2013.500  13.3  561.98450            5  24.98746  121.54391   54.8
5           2012.833   5.0  390.56840            5  24.97937  121.54245   43.1

<h1>Multiple Linear Regression using all the features set.</h1>

In [94]:
X=data.iloc[:,:-1].values
y=data.iloc[:,-1].values
#print(X)
#print(y)

In [95]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=1)
X_train.shape

(351, 6)

In [96]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [97]:
y_pred=regressor.predict(X_test)
y_pred

array([34.86, 47.45, 21.03, 12.82, 43.33, 34.86, 31.17, 45.63, 38.04,
       13.88, 12.21, 38.12, 31.89, 45.53, 50.81, 36.33, 44.7 , 44.99,
       30.08, 43.97, 51.26, 28.43, 39.75, 47.03, 45.66, 27.92, 31.33,
       47.48, 46.17, 15.42, 34.13, 34.68, 42.23, 44.83, 47.92, 13.2 ,
       40.95, 40.97, 39.35, 13.66, 38.79, 24.27, 54.29, 36.82, 35.19,
       39.18, 31.12, 39.73, 45.7 , 34.27, 11.85, 43.97, 44.9 , 14.37,
       48.82, 42.04, 44.7 , 39.42, 38.37, 39.63, 25.16, 40.33, 35.37])

In [98]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

5.3049394622499495

In [99]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7121829899531791

<h1>Multiple Linear regression excluding latitude and longitude</h1>

In [100]:
X=data.iloc[:,:4].values
y=data.iloc[:,-1].values
#print(X)
#print(y)

In [101]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=1)
X_train.shape

(351, 4)

In [102]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [103]:
y_pred=regressor.predict(X_test)
y_pred

array([35.51, 49.04, 23.51, 14.8 , 41.43, 34.6 , 30.85, 40.42, 36.27,
       14.63, 12.41, 40.42, 33.74, 46.55, 51.01, 35.61, 42.94, 44.75,
       29.6 , 41.77, 49.77, 28.33, 41.28, 46.32, 44.99, 31.79, 30.5 ,
       49.11, 44.31, 18.07, 33.27, 33.94, 40.84, 46.18, 47.58, 16.15,
       40.67, 39.2 , 34.31, 15.74, 37.33, 28.28, 54.87, 36.44, 34.98,
       37.  , 30.37, 39.09, 44.73, 33.22, 14.66, 44.5 , 43.13, 16.77,
       50.02, 43.96, 42.94, 38.83, 36.57, 40.86, 29.2 , 38.98, 35.02])

In [104]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

5.305995032467445

In [105]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7166772356688087

<h1>CONCLUSION: Including latitude and longitude does not affect our model until precision level 2</h1>