In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
data=pd.read_csv('Housing_Prices.csv',index_col=0)
data.rename(columns={'X1 transaction date':'transaction data','X2 house age':'age',
                     'X3 distance to the nearest MRT station':'dist.MRT',
                    'X4 number of convenience stores':'conv.stores','X5 latitude':'latitude','X6 longitude':'longitude',
                     'Y house price of unit area':'price'},inplace=True)
data.head()

    transaction data   age   dist.MRT  conv.stores  latitude  longitude  price
No
1           2012.917  32.0   84.87882           10  24.98298  121.54024   37.9
2           2012.917  19.5  306.59470            9  24.98034  121.53951   42.2
3           2013.583  13.3  561.98450            5  24.98746  121.54391   47.3
4           2013.500  13.3  561.98450            5  24.98746  121.54391   54.8
5           2012.833   5.0  390.56840            5  24.97937  121.54245   43.1

<h1>SVR using all features</h1>

In [13]:
X=data.iloc[:,:-1].values
y=data.iloc[:,-1].values
y=y.reshape(len(y),1)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=1)
X_train.shape

(351, 6)

In [15]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X_train= sc_X.fit_transform(X_train)
y_train = sc_y.fit_transform(y_train)
X_test= sc_X.transform(X_test)

In [16]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)
ypredd=regressor.predict(X_test)

C:\Users\sourav\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
y_pred=sc_y.inverse_transform(ypredd)

In [18]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

3.826891698727879

In [19]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8553881601303154

<h1>SVR without latitudes and longitude</h1>

In [20]:
X=data.iloc[:,:4].values
y=data.iloc[:,-1].values
y=y.reshape(len(y),1)

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=1)
X_train.shape

(351, 4)

In [22]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X_train= sc_X.fit_transform(X_train)
y_train = sc_y.fit_transform(y_train)
X_test= sc_X.transform(X_test)

In [23]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)
ypredd=regressor.predict(X_test)

C:\Users\sourav\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
y_pred=sc_y.inverse_transform(ypredd)

In [25]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

3.95282884244624

In [26]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8284792526279264

<h1>CONCLUSION: The mean absolute error suggests that excluding latitude and longitude affect the price negligibly. So if i were a real estate agent than i would not bother myself and my clients with latitudes and longitudes.</h1>